.bg,
.dummy-icon {
  position: absolute;
}

.arrow {
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #555;
}

.bg {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  display: none;
}
.dummy-icon {
  top: 8px;
  left: 9px;
  width: 24.6px;
  height: 28.3px;
  z-index: 1;
}
.dummy-parent {
  width: 43px;
  height: 46px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
}
.header-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.techrealm {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.create-a-cv {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 92.3px;
  white-space: nowrap;
}
.create-a-cv-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  font-family: var(--font-inter);
}
.create-a-cv-wrapper,
.create-c-v-link,
.header-link {
  display: flex;
  align-items: flex-start;
}
.create-c-v-link {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.header-link {
  width: 247.3px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  font-family: var(--font-poppins);
}
.border {
  width: 12px;
  height: 6px;
  position: relative;
  border-top: 6px solid var(--color-black);
  border-right: 6px solid var(--color-black);
  border-left: 6px solid var(--color-black);
  box-sizing: border-box;
}
.template-categories {
  width: 35.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) var(--padding-xl-2) 0;
  box-sizing: border-box;
}
.cv-templates {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 107.1px;
  white-space: nowrap;
}
.template-categories1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
}
.border1 {
  width: 12px;
  height: 6px;
  position: relative;
  border-top: 6px solid var(--color-black);
  border-right: 6px solid var(--color-black);
  border-left: 6px solid var(--color-black);
  box-sizing: border-box;
}
.template-categories2 {
  width: 35.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl) var(--padding-xl-2) 0;
  box-sizing: border-box;
}
.cover-letter {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 96px;
  white-space: nowrap;
}
.template-categories3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
}
.border2 {
  width: 12px;
  height: 6px;
  position: relative;
  border-top: 6px solid var(--color-black);
  border-right: 6px solid var(--color-black);
  border-left: 6px solid var(--color-black);
  box-sizing: border-box;
}
.template-categories4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lgi) var(--padding-xl-2) 0;
}
.subscriber-area {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 121.2px;
  white-space: nowrap;
}
.template-categories5 {
  width: 196px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-mini) 0;
  box-sizing: border-box;
}
.create-a-cv1 {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 105px;
}
.header,
.link,
.link-wrapper {
  display: flex;
  align-items: flex-start;
}
.link {
  border-radius: var(--br-81xl);
  background-color: var(--color-dodgerblue);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lgi) var(--padding-mini)
    var(--padding-xl);
  white-space: nowrap;
}
.header,
.link-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  text-align: center;
  color: var(--color-white);
}
.header {
  align-self: stretch;
  border-bottom: 1px solid var(--color-lightgray);
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-2xs)
    var(--padding-185xl);
  gap: var(--gap-7xs-4);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1350px) {
  .header {
    padding-left: var(--padding-83xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .create-c-v-link {
    display: none;
  }
  .header-link {
    width: 0;
  }
  .header {
    padding-left: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
